.repository-link {
    color: #0366d6;
}
.mat-card {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.card-title {
    color: #3f51b5;
}
.comments-atribute {
    margin-right: 20px;
    &:last-of-type {
        margin-right: 0;
    }
}
.comments-atribute > .label {
    font-weight: bold;
}
.search-results {
    width: 100%
}
.search-results > .comments-list {
    width: 100%;
}
.search-results > .comments-list > .item {
    height: auto;
    margin: 15px 0;
}