
<section class="search-container">
  <form class="form" [formGroup]="searchForm" (submit)="onSubmit($event)">
      <mat-form-field class="form-field">
        <input  matInput type="text" formControlName="searchInput" class="input" placeholder="search repository..."/>
      </mat-form-field>
      <button mat-button color="primary" class="search-button" type="submit">Search</button>
  </form>
  <div class="search-results" *ngIf="repositories">
    <h4 class="title">Repositories...</h4>
    <mat-list class="repository-list">
      <mat-list-item role="listitem" class="item" *ngFor="let repository of repositories">
          <mat-card class="repository" (click)="onSeeRepositoryDetail(repository)">
              <mat-card-title class="card-title">Name: {{repository.name}}</mat-card-title>
              <mat-card-content>
                <div class="repository-atribute">
                    <span class="label">Language: </span>
                    <span>{{repository.language}}</span>
                </div>
                <div class="repository-atribute">
                    <span class="label">Owner: </span>
                    <span>{{repository.owner.login}}</span>
                </div>
              </mat-card-content>
          </mat-card>
      </mat-list-item>
    </mat-list> 
  </div>
</section>