.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mat-card {
        width: 100%;
        cursor: pointer;
    }
    > .form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    > .form > .form-field {
        width: 50%
    }
    > .search-results {
        width: 50%
    }
    > .search-results > .repository-list {
        width: 100%;
    }
    > .search-results > .repository-list > .item {
        margin: 15px 0;
    }
}